body {
  background-color: #000;
}

#splashContainer {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
#splashContainer .imageBox {
  flex-grow: 1;
}

img {
  margin: 0;
}
